/*@font-face{
    font-family: "Neutra-Display";
    src: url('assets/fonts/NeutraDisp-Bold.otf'),
}*/

h1 {font-family: museo, serif; font-style: normal; font-weight: 700;}
h2 {font-family: museo, serif; font-style: normal; font-weight: 700;}
h3 {font-family: museo-sans, sans-serif; font-style: normal; font-weight: 500;}
p {font-family: museo-sans, sans-serif; font-style: normal; font-weight: 300;}
a {text-decoration: none;}

nav ul {padding: 0; margin: 0; text-align: center;}
nav ul li {list-style: none; display: inline;}
nav ul img {width: 20px; height: 20px; padding: 0 10px;}

#resume {
  background-image: url(../img/dave.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  /*background-attachment: fixed;*/
  background-size: cover;
  background-color: #464646;
}

#title {text-align: center; font-size: 5em; margin-bottom: 10px;}
